/.agents
/all_statements.csv
/all_statements.xlsx
/all_statements_fixed.csv
/analyze_parish_tracker.py
/analyze_pledges.py
/analyze_tracker_openpyxl.py
/bank_parser_v1.css
/bank_parser_v1.html
/bank_parser_v1.js
/bank_parser_v2.html
/bank_parser_v2.js
/bank_parser_v3.html
/bank_parser_v3.js
/bank_parser_v4.css
/bank_parser_v4.html
/bank_parser_v4.js
/bank_parser_v4_1.html
/bank_parser_v4_1.js
/bank_parser_v4_2.html
/bank_parser_v4_2.js
/bank_parser_v4_3.css
/bank_parser_v4_3.html
/bank_parser_v4_3.js
/bank_parser_v4_4.css
/bank_parser_v4_4.html
/bank_parser_v4_4.js
/bank_parser_v5.css
/bank_parser_v5.html
/bank_parser_v5.js
/bank_parser_v5_1.html
/bank_parser_v5_1.js
/bank_parser_v5_2.html
/bank_parser_v5_2.js
/bank_parser_v6.css
/bank_parser_v6.html
/bank_parser_v6.js
/bank_parser_v6_1.css
/bank_parser_v6_1.html
/bank_parser_v6_1.js
/bank_parser_v6_2.html
/bank_parser_v6_2.js
/build_tracker.py
/categorize.py
/extract_statements.py
/fill_template.py
/ignored_junk.csv
/keywords.py
/parish_pledge_tracker.xlsx
/parish_tracker.xlsx
/parish_tracker_v2.xlsx
/parish_tracker_v3.xlsx
/parish_tracker_v4.xlsx
/parish_tracker_v5.xlsx
/parish_tracker_v6.xlsx
/parish_tracker_v7.xlsx
/parish_tracker_v8.xlsx
/patch.py
/rename_pdfs.py
/statements sjm.code-workspace
/test_win32.py
/tracker_template.xlsx
/XXXX2805 Statement 686 June 2023.pdf
/XXXX2805 Statement 687 July 2023.pdf
/XXXX2805 Statement 688 August 2023.pdf
/XXXX2805 Statement 689 September 2023.pdf
/XXXX2805 Statement 690 September 2023.pdf
/XXXX2805 Statement 691 November 2023.pdf
/XXXX2805 Statement 692 December 2023.pdf
/XXXX2805 Statement 693 December 2023.pdf
/XXXX2805 Statement 694 February 2024.pdf
/XXXX2805 Statement 695 March 2024.pdf
/XXXX2805 Statement 696 March 2024.pdf
/XXXX2805 Statement 697 April 2024.pdf
/XXXX2805 Statement 698 June 2024.pdf
/XXXX2805 Statement 699 July 2024.pdf
/XXXX2805 Statement 700 August 2024.pdf
/XXXX2805 Statement 701 August 2024.pdf
/XXXX2805 Statement 702 October 2024.pdf
/XXXX2805 Statement 703 November 2024.pdf
/XXXX2805 Statement 704 November 2024.pdf
/XXXX2805 Statement 705 December 2024.pdf
/XXXX2805 Statement 705 December 2024.xlsx
/XXXX2805 Statement 706 February 2025.pdf
/XXXX2805 Statement 707 March 2025.pdf
/XXXX2805 Statement 708 April 2025.pdf
/XXXX2805 Statement 709 April 2025.pdf
/XXXX2805 Statement 710 May 2025.pdf
/XXXX2805 Statement 711 July 2025.pdf
/XXXX2805 Statement 712 August 2025.pdf
/XXXX2805 Statement 713 September 2025.pdf
/XXXX2805 Statement 714 October 2025.pdf
/XXXX2805 Statement 715 November 2025.pdf
/XXXX2805 Statement 716 December 2025.pdf
/XXXX2805 Statement 717 December 2025.pdf
/XXXX2805 Statement 718 January 2026.pdf
/XXXX2805 Statement 719 February 2026.pdf
/XXXX2805 Statement 720 April 2026.pdf
/XXXX2805 Statement 721 April 2026.pdf
/__pycache__
/~$parish_pledge_tracker.xlsx
/~$parish_tracker_v5.xlsx
/~$parish_tracker_v8.xlsx